################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestCase/bin/Debug
/TestCase/obj/Debug
/.vs/StudyTest/v14/.suo
/StudyTest/bin/Debug
/StudyTest/obj/Debug
/StudyTest/bin/Release
/StudyTest/obj/Release
/TestCase/bin/Release
/TestCase/obj/Release
